.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 200;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.6);
    visibility: hidden;
    opacity: 0;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal.is-open {
    visibility: visible;
    opacity: 1;
    transition: opacity var(--transition-time), visibility var(--transition-time);
}

.modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: none;
    width: 100%;
    max-width: 90%;
    height: auto;
    overflow: auto;
    max-height: 100%;
    background-color: var(--color-grey, #fff);
    border-radius: 0.6rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);
}

.modal__container.modal-open {
    display: block;
}

.modal__close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
}

.modal__content {
    position: relative;
    padding: 4rem 6rem;
}

.modal__title {
    margin: 0;
    margin-bottom: 2rem;
    font: var(--font-main-28);
    font-weight: 700;
}

.modal--filters,
.modal--menu {
    z-index: 150;
}

.modal--menu .modal__close-btn {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
}

.modal--menu .modal__container {
    height: 100%;
    max-width: 100%;
}

.modal--menu .modal__content {
    position: relative;
    padding: 4rem 2rem 4rem;
    margin-top: var(--header-height, 10rem);
}

.modal--filters .modal__container {
    max-width: 90%;
}

.modal--filters .modal__content {
    height: calc(100% - var(--header-height, 10rem));
}
