.advantage {
  display: flex;
  column-gap: 2rem;
}

@media only screen and (min-width: 1401px) {
  .advantage {
    column-gap: 3rem;
  }
}

.advantage__image {
  flex-shrink: 0;
  width: 3rem;
  height: 3rem;
  margin-left: 0.5rem;
}

@media only screen and (min-width: 769px) {
  .advantage__image {
    width: 5rem;
    height: 5rem;
    margin-top: -0.5rem;
  }
}

@media only screen and (min-width: 1401px) {
  .advantage__image {
    width: 7rem;
    height: 7rem;
  }
}

.advantage__desc.address {
  font: var(--font-main-24);
}

@media only screen and (min-width: 769px) {
  .advantage__desc.address {
    margin-top: -0.6rem;
  }
}

.advantage__desc.address > strong {
  margin-bottom: 0;
}

.advantage--bigger .advantage__desc.address {
  margin-top: unset;
  font: var(--font-main-28);
  line-height: 1.178;
}

.advantage--bigger .advantage__desc.address > strong {
  margin-bottom: 0.7rem;
}

.advantage--bigger .advantage__image {
  margin-left: unset;
}
