.button {
  display: block;
  max-height: 5.8rem;
  padding: 1.4rem 2.5rem;
  color: var(--color-dark, #002b45);
  font: var(--font-main-16);
  text-align: center;
  text-transform: uppercase;
  outline: none;
  transition: var(--transition);
  cursor: pointer;
}

@media only screen and (min-width: 1201px) {
  .button {
    padding: 1.7rem 3.1rem;
  }
}

.button--grey {
  background-color: var(--color-back, #e1e1e1);
}

.button--small {
  padding: 1.4rem 2.6rem;
  font: var(--font-main-14);
}

.button:hover {
  color: var(--color-light, #fbf6ef);
  background-color: var(--color-blue, #015b91);
}

.button--outline {
  color: var(--color-dark, #002b45);
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-dark, #002b45);
}

.button--outline.button--white {
  color: var(--color-grey, #fff);
  border-color: var(--color-grey, #fff);
}

.button--outline.button--dark {
  color: var(--color-dark, #002b45);
  border-color: var(--color-dark, #002b45);
}

.button--outline:hover {
  color: var(--color-orange, #f2a22e);
  border-color: var(--color-orange, #f2a22e);
  background-color: transparent;
}

.button--full.button--dark {
  color: var(--color-light, #fbf6ef);
  background-color: var(--color-dark, #002b45);
}

.button--full:hover {
  color: var(--color-light, #fbf6ef);
  background-color: var(--color-blue, #015b91);
}
