html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  font-size: 9px;
  -webkit-tap-highlight-color: transparent;
}

@media only screen and (min-width: 421px) {
  html {
    font-size: 10px;
  }
}

@media only screen and (min-width: 992px) {
  html {
    font-size: 10px;
    font-size: clamp(10px, 0.52vw, 25px);
  }
}

@media only screen and (min-width: 1201px) {
  html {
    font-size: 10px;
    font-size: clamp(8px, 0.52vw, 25px);
  }
}

body {
  position: relative;
  min-width: 319px;
  color: var(--color-dark);
  font: var(--font-main-16);
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
}

@media only screen and (min-width: 1024px) {
  body.animate-trigger {
    overflow: hidden;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media only screen and (min-width: 1024px) {
  .animate-trigger .header {
    transform: translateY(-100%);
  }
  .animate-trigger .hero__info {
    opacity: 0;
  }
  .animate-trigger .hero__hint--top {
    transform: translate(0%, -50%);
    opacity: 0;
  }
  .animate-trigger .hero__hint--middle {
    transform: translate(0%, -50%);
    opacity: 0;
  }
  .animate-trigger .hero__hint--bottom {
    transform: translate(0%, -50%);
    opacity: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .animate-trigger.advantages .advantages__decore .advantages__picture {
    opacity: 0;
    transform: translate(-10%, 10%);
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

input::placeholder {
  color: #666;
  font-size: 80%;
}

::selection {
  background-color: var(--color-grey-3, #797979);
  color: var(--color-light, #fbf6ef);
}

input:focus:required:invalid,
textarea:focus:required:invalid {
  border-color: red;
}

input:required:valid,
textarea:required:valid {
  border-color: green;
}
