.header {
  position: fixed;
  top: 0;
  right: 0;
  bottom: auto;
  left: 0;
  z-index: 200;
  width: 100%;
  padding: 1.6rem 0;
  color: var(--color-grey, #fff);
  background-color: rgba(var(--color-header, #002b45), 0.9);
  will-change: transform;
  transition: transform 0.3s ease-out;
}

@media only screen and (min-width: 1024px) {
  .header {
    padding: 2.4rem 0;
  }
}

@media only screen and (min-width: 1401px) {
  .header {
    padding: 3.2rem 0;
  }
}

.header__site-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2rem;
}

.header__logo-box {
  display: flex;
  align-items: center;
  column-gap: 3.5rem;
}

.header__yamaps-link.yamaps-link {
  display: none;
}

@media only screen and (min-width: 577px) {
  .header__yamaps-link.yamaps-link {
    display: flex;
  }
}

.header__address {
  margin-right: 7.6rem;
}

.header__address.address {
  display: none;
}

@media only screen and (min-width: 1201px) {
  .header__address.address {
    display: flex;
  }
}

.header__contacts-box {
  display: flex;
  align-items: center;
}

.header__controls {
  display: flex;
  align-items: center;
  column-gap: 2rem;
}

.header--hidden {
  transform: translateY(-100%);
}
