.work-card {
  position: relative;
}

.work-card::before {
  position: absolute;
  top: 0;
  left: unset;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 75%;
  height: 100%;
  border: 1px solid #000;
  background: var(--color-light, #fbf6ef);
  content: none;
}

@media only screen and (min-width: 1024px) {
  .work-card::before {
    content: "";
  }
}

.work-card__body {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .work-card__body {
    flex-flow: row nowrap;
    column-gap: 2.4rem;
  }
}

@media only screen and (min-width: 1401px) {
  .work-card__body {
    column-gap: 4.4rem;
  }
}

.work-card__info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 2rem 1rem;
}

.work-card__info::before {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 120%;
  border: 1px solid #000;
  background: var(--color-light, #fbf6ef);
  content: "";
}

@media only screen and (min-width: 1024px) {
  .work-card__info::before {
    content: none;
  }
}

@media only screen and (min-width: 641px) {
  .work-card__info {
    padding: 4rem;
  }
}

@media only screen and (min-width: 1024px) {
  .work-card__info {
    display: block;
    width: unset;
    padding: 4rem 4rem 3.4rem 0;
  }
}

@media only screen and (min-width: 1401px) {
  .work-card__info {
    width: unset;
    padding: 6rem 6rem 5.4rem 0;
  }
}

.work-card__heading {
  margin-bottom: 3.2rem;
}

@media only screen and (min-width: 1401px) {
  .work-card__heading {
    margin-bottom: 4.4rem;
  }
}

.work-card__name {
  display: block;
  margin-bottom: 2rem;
  font: var(--font-sec-36);
  font-weight: 700;
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .work-card__name {
    font: var(--font-sec-24);
    text-align: left;
  }
}

.work-card__desc {
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .work-card__desc {
    text-align: left;
  }
}

.work-card__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.1rem;
  margin-left: 0.5rem;
  column-gap: 4rem;
}

@media only screen and (min-width: 1024px) {
  .work-card__list {
    column-gap: unset;
  }
}

.work-card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: max-content;
}

.work-card__item::before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -2rem;
  width: 0.1rem;
  min-width: 1px;
  height: 100%;
  background: #d9d9d9;
  content: "";
}

.work-card__item:first-child::before {
  content: none;
}

@media only screen and (min-width: 1024px) {
  .work-card__item::before {
    left: -4rem;
  }
}

.work-card__value {
  margin-top: 0.5rem;
}

.work-card__size {
  display: block;
  margin-bottom: 1.3rem;
  color: var(--color-grey-2, #7c7c7c);
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .work-card__size {
    margin-bottom: 1.6rem;
    margin-left: 0.5rem;
    text-align: left;
  }
}

.work-card__buttons {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  column-gap: 0.8rem;
  width: 100%;
  margin-top: 3.2rem;
}

.work-card__buttons > a {
  width: 100%;
  flex-shrink: 0;
}

.work-card__buttons > a:last-child {
  margin-top: 1rem;
}

@media only screen and (min-width: 421px) {
  .work-card__buttons > a {
    width: unset;
  }
  .work-card__buttons > a:last-child {
    margin-top: unset;
  }
}

@media only screen and (min-width: 421px) {
  .work-card__buttons {
    flex-flow: row nowrap;
    width: unset;
  }
}

@media only screen and (min-width: 1024px) {
  .work-card__buttons {
    margin-top: 4.6rem;
    margin-right: -0.5rem;
    column-gap: 1.6rem;
  }
}

.work-card__slider {
  position: relative;
  overflow: hidden;
  width: 80%;
  aspect-ratio: 1 / 1.28;
  background-color: lightgray;
}

@media only screen and (min-width: 641px) {
  .work-card__slider {
    width: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  .work-card__slider {
    width: 34.4%;
  }
}

@media only screen and (min-width: 1401px) {
  .work-card__slider {
    width: 36.4%;
  }
}

.work-card__thumbs-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  column-gap: 1.4rem;
  padding: 1.2rem 1.6rem 1.2rem 1.3rem;
  background-color: var(--color-extra, #001623);
}

.work-card__slider-control {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work-card__slider-pagination {
  display: inline-flex;
  align-items: baseline;
  column-gap: 0.4rem;
}

.work-card__pagination-count {
  color: var(--color-grey, #fff);
  font: var(--font-sec-24);
  font-size: 2.06rem;
}

.work-card__pagination-total {
  color: var(--color-grey-3, #797979);
  font: var(--font-sec-24);
  font-size: 1.05rem;
}

.work-card__slider-navigation {
  display: flex;
  align-items: center;
  column-gap: 0.6rem;
}

.work-card__icon {
  width: 2rem;
  height: 0.7rem;
  fill: var(--color-grey, #fff);
}

.work-card__navigation-next .work-card__icon {
  transform: rotate(180deg);
}

.work-card__main-swiper {
  height: 100%;
}

.work-card__main-swiper-link {
  position: relative;
  height: 100%;
}

.work-card__main-swiper-link img {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
  display: block;
  width: 100%;
  min-height: 100%;
}

.work-card__thumb {
  display: block;
  width: 100%;
  height: 100%;
}

.work-card__thumb img {
  display: block;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.work-card__thumbs-swiper-slide {
  aspect-ratio: 1.05 / 1;
}
