.works {
  position: relative;
  overflow: hidden;
  padding: 2.4rem 0 5rem;
}

@media only screen and (min-width: 1201px) {
  .works {
    padding: 4.4rem 0 7.6rem;
  }
}

.works::before {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: -1;
  display: block;
  width: 40%;
  aspect-ratio: 1.84 / 1;
  transform: translateX(77%);
  border: 1px solid var(--color-dark, #002b45);
  content: none;
}

@media only screen and (min-width: 1201px) {
  .works::before {
    content: "";
  }
}

@media only screen and (min-width: 1401px) {
  .works::before {
    transform: translateX(37%);
  }
}

.works__dropdowns, .works__controls, .works__navigation {
  display: flex;
  align-items: center;
}

.works__navigation {
  display: none;
  column-gap: 5.6rem;
  margin-bottom: 4rem;
}

@media only screen and (min-width: 1024px) {
  .works__navigation {
    display: flex;
    margin-bottom: 2.1rem;
  }
}

.works__filter-btn {
  margin-bottom: 4rem;
}

.works__filter-btn.filter-btn {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}

@media only screen and (min-width: 1024px) {
  .works__filter-btn.filter-btn {
    display: none;
  }
}

.works__filter-btn.filter-btn span {
  display: block;
  font: var(--font-main-18);
  font-weight: 700;
  text-transform: uppercase;
}

.works__filter-btn.filter-btn .icon {
  width: 2.6rem;
  height: 2.6rem;
}

.works__dropdowns {
  column-gap: 1.2rem;
}

.works__controls {
  column-gap: 1.1rem;
}

.works__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.works__item {
  width: 100%;
  margin-bottom: 3rem;
}

.works__item:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 1024px) {
  .works__item {
    width: calc(100% / 2 - (2.4rem / 2));
  }
  .works__item:nth-child(even) {
    margin: 1.2rem 0 1.2rem 1.2rem;
  }
  .works__item:nth-child(odd) {
    margin: 1.2rem 1.2rem 1.2rem 0;
  }
}

@media only screen and (min-width: 1401px) {
  .works__item {
    width: calc(100% / 2 - (4.8rem / 2));
  }
  .works__item:nth-child(even) {
    margin: 2.4rem 0 2.4rem 2.4rem;
  }
  .works__item:nth-child(odd) {
    margin: 2.4rem 2.4rem 2.4rem 0;
  }
}
